$font: Helvetica, sans-serif
$primary-color: #abc

$header-footer-height: 10%
$header-footer-min: 40px
$header-footer-max: 128px

$color-header: linear-gradient(rgba(187,17,119,.75),#b17 90%,#b17)
$color-footer: linear-gradient(#000,#000 10%,rgba(0,0,0,.9))
$color-body: rgba(255, 255, 255, .25)

$shadow-body: 0 1px 3px rgba(0,0,0,.25)